<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password Email</title>
</head>

<body>
    <h1>Olá, {username}</h1>
    <p>
        Parece que você solicitou a recuperação de senha.
    </p>
    <p>
        Para recuperar sua senha, clique no link abaixo:
    </p>
    <p>
        <a href="{link}">Recuperar senha</a>
    </p>
    <small>
        Se você não solicitou a recuperação de senha, ignore este e-mail.
    </small>
</body>

</html>
