<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset password</title>
</head>

<body>
    <form action="/account/reset-password/{token}" method="post">
        <div class="form-group">
            <label for="password">New password</label>
            <input type="text" class="form-control" name='password' id="password" placeholder="Type your new password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <script>
        window.addEventListener('load', function () {
            document.querySelector('form').addEventListener('submit', async function (event) {
                event.preventDefault();
                const password = document.querySelector('#password').value;
                const action = document.querySelector('form').action;
                try {
                    const response = await fetch(action, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            password: password
                        })
                    });

                    const responseJson = await response.json();
                    alert(responseJson.message);
                } catch (error) {
                    console.error(error);
                    alert('Something went wrong');
                }
            });
        });
    </script>
</body>

</html>
